---
layout: landing
---
<section id="banner">
  <div class="inner">
    <h2>{{ site.title }}</h2>
    <p>{{ site.description | markdownify }}</p>
  </div>
  <a href="#intro" class="more scrolly">Details</a>
</section>

<section id="intro" class="wrapper style3 special">
  {% include sections/intro.html %}
</section>

<!-- section id="party" class="wrapper style1 special">
  {% include sections/weddingcrew.html %}
</section-->

<section id="couple" class="wrapper alt style2">
{% include sections/schedule.html %}
</section>

<section id="travel" class="wrapper style4">
  {% include sections/transportation.html %}
</section>

<section id="details" class="wrapper style1">
  {% include sections/details.html %}
</section>

<section id="cta" class="wrapper style3 special">
  {% include sections/rsvp.html %}
</section>

<section id="photos" class="wrapper style3">
  {% include sections/photos.html %}
</section>
