<div class="inner" align="center">
  <header class="major">
    <h2>Other details</h2>
  </header>
    <p align="left"><b>Dress code</b>: for the wedding party on Saturday the dress code is formal attire. Both short and long dresses are ok for the ladies. If you would like some hair styling and make-up for the party, please let Oli know, she can arrange an appointment for you. 
</p>

<p align="left"><b>Transportation and going around Skopje</b>:
the easiest way of going around Skopje is with taxi. We recommend using <a href="http://www.taxiglobal.mk/" target="_blank">Global Taxi</a> (there is an android App as well), Nashe Taxi, Vardar or Sonce. Wherever you go in Skopje, should not be more than 2-6 EUR max. For taxi, please have cash with you (Macedonian Denars - MKD). There is no Uber/Lyft in Skopje. You can only use bus as a public transport, but we rather recommend using a taxi, since the ticket system is a bit complicated.</p>

<p align="left"><b>Currency exchange</b>: in Macedonia the currency is Macedonian Denar (MKD). The exchange rate is 1 EUR = ~ 61 MKD or 1 CHF = 53 MKD. You can find plenty of ATMs in Skopje, and we recommend taking out some cash, you cannot use credit cards everywhere. If you already bring some cash with you, we recommend exchanging it in some of the exchange offices in Skopje in order to get a better exchange rate, not at the airport.

<p align="left"><b>More details about Macedonia</b>: if you are curious and would like to learn more about Macedonia, its culture or other tips and tricks of getting around, you would find plenty of details in the <a href="https://kupinapopust.mk/pub/img/WELCOMETOMACEDONIA.pdf" target="_blank">following brochure</a>.

<br><br><br><b>If you need any help for booking a ticket, accommodation or need some info for Skopje and Macedonia, we are happy to help anytime, just let us know! You can reach us via our personal phones/emails or at <a href="mailto:olifilippowedding@gmail.com" target="_top">olifilippowedding@gmail.com.</a></b> 

</div>

