<section class="spotlight">
  <div class="image">
    <img src="images/drinks.png" alt="" />
  </div>
  <div class="content">
    <h2>Welcome Drinks</h2>
    <h4><b>Friday August 30, 9:30 pm </b><br></h4>
    <p>We would like to welcome you in Skopje upon your arrival and invite you for drinks in the city center. Location: <a href="https://www.google.com/maps/place/Carpe+Diem+-+Fine+Wine+%26+Dine/@41.9951354,21.4353994,15z/data=!4m12!1m6!3m5!1s0x0:0x4c374ee90055937f!2sCarpe+Diem+-+Fine+Wine+%26+Dine!8m2!3d41.9951354!4d21.4353994!3m4!1s0x0:0x4c374ee90055937f!8m2!3d41.9951354!4d21.4353994" target="_blank">Restaurant Carpe Diem</a>
</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/hotel_collage.png" alt="" />
  </div>
  <div class="content">
    <h2>Wedding Party</h2>
    <h4><b>Saturday, August 31<br></b></h4>
    <p>Location: Hotel Aleksandar Palace (Garden)</p>
    <h4><b>6:30 pm - Vow Exchange & Aperitivo</b></h4>
    <p>Time to enjoy a proper Aperol Spritz and Negroni!</p>
    <h4><b>7:30 pm - Dinner & Party</b></h4>
    <p>Eating, dancing, traditional Macedonian beats and rakija à go-go!</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/skopje.png" alt="" />
  </div>
  <div class="content">
    <h2>Skopje Sightseeing</h2>
    <h4><b>Sunday, September 1</b></h4>
    <p>After a fun night, we would like to show you Skopje and the surroundings throughout the day.</p>
    <h5>Meeting point</h5>
    <p>Meet up in the hotel around 10:00 - 10:30</p>
    <h5>Morning & early afternoon: Visit the <a href="https://www.discoveringmacedonia.com/2018/canyon-matka-nature-paradise-near-skopje/" target="_blank">Canyon Matka</a></h5>
    <p>We can do boat tour, kayaking, relax and have lunch there.</p>
    <h5>Afternoon:</h5>
    <p>sightseeing in the center of Skopje  (city center, old bazaar, the park etc.)</p>
    <h5>Night</h5>
    <p>Go for traditional Macedonian food for dinner in some nice restaurant, followed by drinks/party, depending on how the crowd feels :) </p>
  </div>
</section>
