<div class="inner">
    <header class="major">
    <h2>TRAVEL</h2>
    </header>
    <h4>Flights</h4>
    <p><b>From Italy</b>: there are direct flights from Venice Treviso (WizzAir, Wednesdays and Sundays), Milan Malpensa (WizzAir, Mondays and Fridays) and Roma Ciampino (WizzAir, Mondays and Fridays).</p>
    <p><b>From Switzerland</b>: there are direct flights from Zurich (Edelweiss SwissAir, Air Pristina/Germania Flug, every day) and Basel (WizzAir, every day).</p>
    <p>The following airlines cover flights to Skopje from other destinations: WizzAir, Austrian Airlines, Air Serbia, Adria Airways and Turkish Airlines.</p>
   
    <br><h4>Airport to Hotel</h4>
    <p>The airport is 20 km away from the center of Skopje.
To reach Skopje, we would recommend getting a <a href="http://skp.airports.com.mk/default.aspx?ItemID=384" target="_blank">taxi</a> from the airport (1220 MKD = ~ 20 EUR). The hotel also offers the option to organize a van for pick up if you are more people (6-7) arriving at the same time (~ 50 EUR).</p>
    <br><h4>Accomodation</h4>
  <p>For your convenience, we have reserved a block of rooms at the hotel Aleksandar Palace. We could book the rooms for you if you would like or you could book yourself by calling (+ 389 2 3092 392) or e-mailing (<a href="mailto:info@aleksanadarpalace.com.mk" target="_top">info@aleksanadarpalace.com.mk</a>) the hotel. Please mention “Evrova-Arcadu Wedding” as a reference to get the special rate for your guests (50 EUR/single and 60 EUR/double room per night). 
<br>Of course, you are free to organize your stay in Skopje as you wish. You can book accommodation in other hotels in Skopje via booking.com, hostelbooking.com or use <a href="https://www.airbnb.com/" target="_blank">Airbnb</a></p>
  <section id="map" class="map">
    <iframe id="map_iframe"
      width="100%"
      height="100%"
      style="border:0"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.5099700476358!2d21.40340135078552!3d42.010791164977306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415a9bddf1df9%3A0x89a59404b305283f!2sHotel+Aleksandar+Palace!5e0!3m2!1sen!2sch!4v1551031612275"
      allowfullscreen>
    </iframe>
    <br>
    <small id="map_iframe"
      width="100%"
      height="100%"
      style="border:0"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2964.5099700476358!2d21.40340135078552!3d42.010791164977306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415a9bddf1df9%3A0x89a59404b305283f!2sHotel+Aleksandar+Palace!5e0!3m2!1sen!2sch!4v1551031612275"
      allowfullscreen>
    </small>
</div>
