<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <!-- <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1> -->
  <nav id="nav">
    <ul>
    	<li><a href="index.html">Home</a></li>
        <li><a href="#intro" class="more scrolly">Wedding Invitation</a></li>
        <!--li><a href="#party" class="more scrolly">Wedding Crew</a></li-->
	<li><a href="#couple" class="more scrolly">Schedule</a></li>
	<li><a href="#travel" class="more scrolly">Travel</a></li>
        <!-- <li><a href="#lodging" class="more scrolly">Lodging</a></li>-->
      	<li><a href="#details" class="more scrolly">Other Details</a></li>
	<li><a href="#cta" class="more scrolly">RSVP</a></li>
    </ul>
  </nav>
</header>
